*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5%;
}
.container h1{
    font-size: 2.5rem;
    word-spacing: 0.8rem;
    letter-spacing: 0.3rem;
    text-align: center;
}
.form-group{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}
.form-group input{
    height: 40px;
    border: none;
    outline: none;
    background-color: #dff4ca;
    padding: 0 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.form-group button{
    height: 40px;
    border: none;
    background-color: dimgray;
    padding: 0 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
    color: #fff;
}
.result{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.result .card{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 2px 2px 10px 2px #dff4ca;
    padding: 2% 5%;
}
.result h2{
    margin-bottom: 20px;
    text-align: center;
}
.result .row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.2rem;
}
.result .row .left::after{
    content: ":";
}